@model Post
@{
    List<string> elencoCategorie = ViewData["elencoCategorie"] as List<string>;
    
}


<div class="container">
    <form asp-controller="Posts" asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Titolo:</strong>
            <input asp-for="Title" class="d-block w-100" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <textarea rows="10" asp-for="Description" class="d-block w-100"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Categoria:</strong>
            <!--select asp-for="Category" class="d-block w-100" asp-items="@(new SelectList(elencoCategorie))" ></!--select>
            <span-- asp-validation-for="Category" class="text-danger"></span-->
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="Image" class="d-block w-100" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>